# Airflow configuration
AIRFLOW_FERNET_KEY=change-me
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__WEBSERVER__SECRET_KEY=change-me
AIRFLOW__CORE__LOAD_EXAMPLES=false
